/*Собственные стили и украшения*/

/*Стили для первого операнда*/
#param1 {

}

a,msd,asmd
asd,ams d
/*Стили для второго операнда*/
#param2 {

}

/*Стили для выбора операции*/
#operation {
    margin-left: 25%;
}